
body{
  /* height: auto;
  width: auto; */
  display:flex;
  
}
.card{
  background-color: aliceblue;
  border-style: dotted;
  border-color: aqua;
  
  
  /* margin: 10px */
  
}

.card-title{
  border: 1px ;
  border-color: lightblue;
  text-align: center;
  
}
.card-img-top{
  /* text-align: center; */
  
  
}

.product-description{
  justify-content: space-around;
  /* padding: 10px */
}

.availability{
  color: yellow;
  background-color: grey;
  
}

.card-body{
padding:0px;
margin: 0px;


}
  
  
.specifications{
  padding: 10px;
}
.pricing{
  padding: 10px;
}

footer{
  padding: 10px;
}
